<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 id="titulo">Hola Mundo</h1>
    <img src="https://firebasestorage.googleapis.com/v0/b/tiendasura-80b34.appspot.com/o/CUMBRE3.1.webp?alt=media&token=36249014-8b7d-412a-acda-02859e718411" alt="" id="foto">



<script src="../aprendiendoDom.js"></script>

</body>
</html>